*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.dashboard{
  margin-top:60px;
  margin: 40px 30px;
  /* background-color: #c8cfd4;
  background-image: linear-gradient(160deg, #7c8991 0%, #edfffd 100%); */
  border-radius: 50px;  
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}
.grid{
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(4,1fr);
  gap: -100px 10px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: space-between;
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-row: 1/8;
  width: 17vw;
  border-radius: 10px;
  height: 100vh;
  background-color: #A020F0;
}
.side-items{
  margin-top: 30px;
  margin-left: 25px;
  color: #ffffff;
  width: 25vw;
}
.icons{
  display: flex;
  justify-content: left;
  color: #ffffff;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.log{
  margin-left: 25px;
}
.side-items span{
  display: block;
}
.img1{
  width: 100px;
  border-radius: 50px;
}
.bar{
  margin-left: 50px;
  align-self: center;
  margin-top: 20px;
}

.img{
  width: 50px;
  border-radius: 50px;
}
.input{
  padding: 10px 25px;
  width: 20vw;
  
  border-radius: 7px;
  text-align: right;
  outline: none;
}
/* .flex{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 20px;
} */
.flex1{
  grid-column: 4;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  color: #000000;
}
.icons span{
  margin-right: 10px;
}
.bell{
  margin-left: 50px;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
.flex1 p{
  display: block;
  margin-left: 10px;
}
.block{
   margin-left: 10px;  
}
.img2{
  width: 150px;
  border-radius: 100px;
}
.name{
  background-color: #A020F0;
  color: #000000;
  grid-column: 2/5;
  grid-row: 2;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 50px 50px 50px 30px;
  
}
.greetings{
  line-height: 2;
  margin-right: 70px;
}
.greetings p{
  color: rgb(250, 246, 246);
}
.greetings h1{
  font-size: 2rem;
  color: #ffffff;
}
.enrolled1{
  grid-row:3;
  grid-column: 3;
  margin: 5px auto 20px auto;
  color: #000000;
}
.enrolled{
  display: flex;
  grid-column: 2/5;
  justify-content: space-between;
  grid-row: 4;  
  margin-bottom: 25px;
}
.flex2{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 150px;
}

.courses{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:  #A020F0;
  padding: 50px 20px;
  border-radius: 10px;
  margin: 0 45px;
 
}
.courses div{
  margin-left: 20px;
}
.left p{
  margin-bottom: 10px;
}
.left .view{
  padding: 5px 20px;
  border-radius: 15px;
  background-color: rgb(255, 250, 255);
  color: #000000;
  border: none;
}
.courses p{
  font-size: 1.2rem;
}
.menu{
  display: none;
}
.close{
  display: none;
}
@media(max-width:700px){
  .dashboard{
    background-image: none;
    border: none;
    background-color: #ffff;
    color: #000000;
    margin: 20px 0;
  }

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
/* .close{
   display: block;
   position: absolute;
   top: 50px;
   left: 190px;
} */
  .sidebar{
    background-color: #A020F0;
    width: 40vw;
    height: 100%;

  }
  /* .menu{
    display: block;
    font-size: 2.5rem;
    align-self: center;
    margin-right: 20px;
  } */
  .bar > input{
     width: 200px;
     border: 1px solid black;
  }
  .flex1{
     grid-column: 3;
  }
  .name{
   background-color:#A020F0;
   padding: 20px 50px;
   width: max-content;
   grid-column: span 4;
  }
  .enrolled{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .enrolled1{
    grid-column: span 2 ;
    margin: 20px auto;
    text-align: center;
  
  }
  .courses{
   margin-top: 30px;
  }

}
